@font-face {font-family: ab;  src: url(../fonts/ArialBold.ttf);}
@font-face {font-family: ar;  src: url(../fonts/ArialRegular.ttf);}

@font-face {font-family: c;   src: url(../fonts/consola.ttf);}

@font-face {font-family: fb;  src: url(../fonts/FregatBold.otf);}
@font-face {font-family: fbi; src: url(../fonts/FregatBoldItalic.otf);}
@font-face {font-family: fi;  src: url(../fonts/FregatItalic.otf);}
@font-face {font-family: fr;  src: url(../fonts/FregatRegular.otf);}

@font-face {font-family: mpr; src: url(../fonts/MyriadProRegular.ttf);}

@font-face {font-family: rcl; src: url(../fonts/RobotoCondensedLight.ttf);}

@font-face {font-family: new;  src: url(../fonts/new.ttf);}

@font-face {font-family: futura;  src: url(../fonts/FuturaPT-Book.ttf);}