
.w-red {
  color: red;
}

.w-lime {
  color: lime;
}

.w-orange {
  color: orange;
}

.w-grey {
  color: grey;
}

.w-lightgrey {
  color: lightgrey;
}

.w-bgc-aliceblue {
  background-color: aliceblue;
}

.w-bgc-yellow {
  background-color: yellow;
}

.w-link {
  color: #3a8fc8;
  cursor: pointer;
}

.w-monotype {
  font-family: c;
}

.w-tar {
  text-align: right;
}