@import "fonts";
@import "reset";
@import "style_general";

.wjs-dbtable {margin: 20px; height: 600px;// border: 3px dotted red;
  font-family             : futura;
  overflow                : hidden;
  display                 : flex;
  flex-direction          : column;
  &__header {
    font-weight           : 900;
    text-align            : center;
    font-size             : 2em;
    padding-bottom: 20px;
  }
  &__meta-data-wrapper {
    display               : grid;
    grid-template-columns : auto 1fr;
    grid-gap              : 6px 12px;
    padding-bottom        : 10px;
  }
  &__items-amount {
    font-weight           : 900;
  }
  &__filters-wrapper,
  &__discols-wrapper {
    display               : flex;
    flex-wrap             : wrap;
  }
  &__filter-item,
  &__discols-item {
    height                : 30px;
    margin-right          : 6px;
    margin-bottom         : 3px;
    border                : 1px solid lightsteelblue;
    border-radius         : 4px;
    display               : flex;
    align-items           : center;
    justify-content       : space-between;
    span {
      margin              : 0 10px;
      user-select         : none;
    }
  }
  &__filter-close-btn,
  &__discols-close-btn {
    height                : 26px;
    width                 : 26px;
    border                : 1px solid red;
    border-radius         : 4px;
    background-color      : red;
    background-image      : url('../img/close.png');
    background-size       : 12px;
    background-repeat     : no-repeat;
    background-position   : center center;
    cursor                : pointer;
    margin-right          : 1px;
  }
  &__table-wrapper {
    flex-grow             : 1;
    border                : 1px solid lightgrey;
  }
  &__pseudo-header {
    display               : flex;
  }
  &__pseudo-header-item {
    display               : flex;
    justify-content       : space-between;
    align-items           : center;
    min-height            : 36px;
    background-color      : #bde0f6;
    border                : 1px solid lightsteelblue;
    cursor                : grab;
    user-select           : none;
    padding               : 0;
    white-space           : nowrap;
  }
  &__th-name {
    text-align            : center;
    margin-left           : 10px;
    margin-right          : 10px;
    flex-frow             : 1;
    font-weight           : 900;
  }
  &__btns-group {
    height                : 36px;
    width                 : 28px;
    display               : flex;
    flex-direction        : column;
    flex-wrap             : wrap;
    align-items           : end;
  }
  &__btn {
    margin                : 0;
    padding               : 0;
    cursor                : pointer;
    min-height            : 18px;
    min-width             : 10px;
    border                : 1px solid lightgrey;
    &_search {
      background-color    : AliceBlue;
      width               : 30px;
      height              : 30px;
      background-image    : url('../img/search.png');
      background-size     : 15px;
      background-repeat   : no-repeat;
      background-position : center center;
      margin-left         : 5px;
      border-radius       : 4px;
    }
    &_sort {
      background-color    : AliceBlue;
      width               : 18px;
      background-image    : url('../img/caret.png');
      background-size     : 10px;
      background-repeat   : no-repeat;
      background-position : center center;
    }
    &_options {
      background-color    : AliceBlue;
      height              : 36px;
      width               : 10px;
      background-image    : url('../img/menu.png');
      background-size     : 10px;
      background-repeat   : no-repeat;
      background-position : center center;
    }
    &_close {
      background-color    : red;
      width               : 18px;
      background-image    : url('../img/close.png');
      background-size     : 10px;
      background-repeat   : no-repeat;
      background-position : center center;
    }
    &_active {
      background-color    : Chartreuse;
    }
  }
  table {
    border                : 1px solid #dbf0fe;
    // border-collapse       : collapse;
    white-space           : nowrap;
    user-select           : none;
  }
  th {
    user-select           : none;
    padding               : 0;
    border                : none;
    border-left           : 1px solid transparent;
    border-right          : 1px solid transparent;
    border-collapse       : collapse;
    color                 : transparent;
    height                : .1px;
  }
  &__th-inner {
     width: 100%;
     height: 0.001px;
  }
  td {
    border                : 1px solid #dbf0fe;
    border-collapse       : collapse;
    vertical-align        : middle;
    padding               : 10px 6px;
  }
  tr {
    &:nth-of-type(even) {
      background-color    : #eef2f5;
    }
  }
  &__pagination-wrapper {
    padding               : 10px 0;
  }
  &__page-btn {
    cursor                : pointer;
  }
}

// scrol customization
.wjs-dbtable__table-wrapper.wjs-scroll { //border: 3px dotted blue;
    .wjs-scroll__content {
      padding-bottom: 20px;
    }
  .wjs-scroll__wrapper_bottom {
    width: 100%;
    left: 0;
    background-color: white;
    .wjs-scroll__line_bottom {

    }
    .wjs-scroll__thumb_bottom {

    }
  }
}
