@import "fonts";
@import "reset";
@import "style_general";

.wjs-dbtable {margin: 0 20px; height: 100vh;// border: 3px dotted red;
  font-family             : futura;
  overflow                : hidden;
  display                 : flex;
  flex-direction          : column;
  &__header {
    font-weight           : 900;
    text-align            : center;
    font-size             : 2em;
    padding               : 20px;
  }
  &__meta-data-wrapper {
    display               : grid;
    grid-template-columns : auto 1fr;
    grid-gap              : 6px 12px;
    padding-bottom        : 10px;
  }
  &__items-amount {
    font-weight           : 900;
  }
  &__filters-wrapper,
  &__discols-wrapper {
    display               : flex;
    flex-wrap             : wrap;
  }
  &__filter-item,
  &__discols-item {
    height                : 30px;
    margin                : 0 3px 3px 0;
    border                : 1px solid lightsteelblue;
    border-radius         : 4px;
    display               : flex;
    align-items           : center;
    justify-content       : space-between;
    span {
      margin              : 0 10px;
      user-select         : none;
    }
  }
  &__filter-close-btn,
  &__discols-close-btn {
    height                : 26px;
    width                 : 26px;
    border                : 1px solid red;
    border-radius         : 4px;
    background-color      : red;
    background-image      : url('../img/close.png');
    background-size       : 12px;
    background-repeat     : no-repeat;
    background-position   : center center;
    cursor                : pointer;
    margin-right          : 1px;
  }
  &__table-wrapper {
    flex-grow             : 1;
    border                : 1px solid lightgrey;
    overflow              : hidden;
    position              : relative;
  }
  &__loader-wrapper {
    position: absolute;
    z-index: 1112;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__table {
    white-space           : nowrap;
    user-select           : none;
  }
  &__theader {
    display               : grid;
    grid-template-columns : repeat(25,auto) 1fr;
    border-bottom         : 1px solid lightgrey;
  }
  &__header-cell {
    border-right          : 1px solid grey;
    border-bottom         : 1px solid lightgrey;
    cursor                : grab;
    height                : 40px;
    display               : flex;
    justify-content       : space-between;
    align-items           : center;
    background-color      : #bde0f6;
  }
  &__th-name {
    font-weight           : 900;
    padding               : 0 12px;
    text-align            : center;
    flex-grow             : 1;
  }
  &__theader-btns-group {
    display               : flex;
    flex-direction        : column;
    flex-wrap             : wrap;
    height                : 40px;
    width                 : 32px;
    justify-content       : start;
    align-items           : flex-end;
  }
  &__btn {
    height                : 20px;
    width                 : 20px;
    margin                : 0;
    padding               : 0;
    border                : 1px solid lightgrey;
    cursor                : pointer;
    &_search {
      background-image    : url('../img/search.png');
      background-size     : 20px 20px;
      background-position : center center;
      background-repeat   : no-repeat;
      margin-left         : 10px;
      height              : 30px;
      width               : 30px;
      border-radius       : 4px;
    }
    &_close {
      background-image    : url('../img/close.png');
      background-size     : 13px 13px;
      background-position : center center;
      background-repeat   : no-repeat;
      background-color    : red;
    }
    &_sort {
      background-image    : url('../img/caret.png');
      background-size     : 13px 13px;
      background-position : center center;
      background-repeat   : no-repeat;
    }
    &_options {
      background-image    : url('../img/menu.png');
      width               : 12px;
      height              : 40px;
      background-size     : 13px 13px;
      background-position : center center;
      background-repeat   : no-repeat;
    }
  }

  &__tbody {
    display               : grid;
    grid-template-columns : repeat(25,auto) 1fr;
  }
  &__body-cell {
    border-right          : 1px solid lightgrey;
    border-bottom         : 1px solid lightgrey;
    padding               : 6px 12px;
  }

  &__pagination-wrapper {
    margin                : 10px 0;
    user-select           : none;
  }
}

// scrol customization
.wjs-dbtable__table-wrapper.wjs-scroll { //border: 3px dotted blue;
  .wjs-scroll__content {
    padding-bottom        : 20px;
  }
  .wjs-scroll__wrapper_bottom {
    width                 : 100%;
    left                  : 0;
    background-color      : white;
    border-top            : 1px solid lightgrey;
  }
  .wjs-dbtable__table {
    .wjs-scroll__wrapper_right {
      height              : 100%;
      top                 : 0;
      background-color    : white;
      border-left         : 1px solid lightgrey;
    }
  }
}