@import "fonts";
@import "reset";
@import "style_general";
@import "wCore";

.wjs-dbtable {margin: 0 20px; height: 100vh;// border: 3px dotted red;
  font-family             : futura;
  overflow                : hidden;
  display                 : flex;
  flex-direction          : column;
  &__header {
    font-weight           : 900;
    text-align            : center;
    font-size             : 2em;
    padding               : 20px;
  }
  &__meta-data-wrapper {
    display               : grid;
    grid-template-columns : auto 1fr;
    grid-gap              : 6px 12px;
    padding-bottom        : 10px;
  }
  &__label {
    position: relative;
    &_discols {
      display: none;
      & + .wjs-dbtable__items-amount {
        display: none;
      }
    }
    &_selected {
      display: none;
      & + .wjs-dbtable__selected-amount {
        display: none;
      }
    }
  }
  &__items-amount,
  &__filtered-amount,
  &__selected-amount {
    text-align: right;
    justify-self: start;
    min-width: 55px;
    font-family: c;
  }
  &__items-amount {
    font-weight           : 900;
  }
  &__uncheckAll {
    height                : 24px;
    width                 : 24px;
    border                : 1px solid red;
    border-radius         : 4px;
    background-color      : red;
    background-image      : url('../img/close.png');
    background-size       : 12px;
    background-repeat     : no-repeat;
    background-position   : center center;
    cursor                : pointer;
    position: absolute;
    top: calc(50% + 2px);
    left: calc(100% + 80px);
    transform: translate(0, -50%);
    &:after {
      content: '';
      display: block;
      height: 26px;
      width: 26px;
      border: 1px solid lightsteelblue;
      border-radius: 4px;
      position: absolute; 
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  &__filters-wrapper {
    display               : flex;
    flex-wrap             : wrap;
  }
  &__discols-wrapper {
    display               : none;
    flex-wrap             : wrap;
  }
  &__filter-item,
  &__discols-item {
    height                : 30px;
    margin                : 0 3px 3px 0;
    border                : 1px solid lightsteelblue;
    border-radius         : 4px;
    display               : flex;
    align-items           : center;
    justify-content       : space-between;
    span {
      margin              : 0 10px;
      user-select         : none;
    }
  }
  &__filter-close-btn,
  &__discols-close-btn {
    height                : 26px;
    width                 : 26px;
    border                : 1px solid red;
    border-radius         : 4px;
    background-color      : red;
    background-image      : url('../img/close.png');
    background-size       : 12px;
    background-repeat     : no-repeat;
    background-position   : center center;
    cursor                : pointer;
    margin-right          : 1px;
  }
  &__table-wrapper {
    flex-grow             : 1;
    border                : 1px solid lightgrey;
    overflow              : hidden;
    position              : relative;
  }
  &__loader {
    position: absolute;
    z-index: 1112;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    &_active {
      display: flex;
      z-index: 7777;
    }
  }
  &__loader-img-wrapper {
    width: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
  }
  &__loader-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__loader-info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__loader-info {}
  &__loader-dots {
    padding-left: 2px;
    font-weight: 900;
    letter-spacing: 2px;
  }

  &__table {
    white-space           : nowrap;
    user-select           : none;
  }
  &__theader {
    display               : grid;
    grid-template-columns : repeat(25,auto) 1fr;
    border-bottom         : 1px solid lightgrey;
  }
  &__header-cell {
    border-right          : 1px solid grey;
    border-bottom         : 1px solid grey;
    border-top            : 1px solid grey;
    cursor                : grab;
    height                : 42px;
    display               : flex;
    justify-content       : space-between;
    align-items           : center;
    background-color      : #bde0f6;
    &_checkbox {
      width               : 40px !important;
      justify-content     : center;
      padding-top         : 2.5px;
      border-left          : 1px solid grey;
    }
  }
  &__th-name {
    font-weight           : 900;
    padding               : 0 12px;
    text-align            : center;
    flex-grow             : 1;
  }
  &__theader-btns-group {
    display               : flex;
    flex-direction        : column;
    flex-wrap             : wrap;
    height                : 40px;
    width                 : 32px;
    justify-content       : start;
    align-items           : flex-end;
  }
  &__btn {
    height                : 20px;
    width                 : 20px;
    margin                : 0;
    padding               : 0;
    border                : 1px solid lightgrey;
    cursor                : pointer;
    &_search {
      background-image    : url('../img/search.png');
      background-size     : 20px 20px;
      background-position : center center;
      background-repeat   : no-repeat;
      margin-left         : 5px;
      height              : 30px;
      width               : 30px;
      border-radius       : 4px;
    }
    &_close {
      background-image    : url('../img/close.png');
      background-size     : 13px 13px;
      background-position : center center;
      background-repeat   : no-repeat;
      background-color    : red;
    }
    &_sort {
      background-image    : url('../img/caret.png');
      background-size     : 13px 13px;
      background-position : center center;
      background-repeat   : no-repeat;
    }
    &_options {
      background-image    : url('../img/menu.png');
      width               : 12px;
      height              : 40px;
      background-size     : 13px 13px;
      background-position : center center;
      background-repeat   : no-repeat;
    }
  }

  &__tbody {
    display               : grid;
    grid-template-columns : repeat(25,auto) 1fr;
  }
  &__body-cell {
    border-right          : 1px solid lightgrey;
    border-bottom         : 1px solid lightgrey;
    padding               : 11px 12px 3px;
    &_checkbox {
      padding             : 6px 7px 3px;
      width               : 40px !important;
    }
  }

  &__pagination-wrapper {
    margin                : 10px 0;
    user-select           : none;
    padding-left          : 7px;
    display: flex;
  }
  &__page-btn {
    cursor: pointer;
    user-select: none;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 0 0 0 0;
    min-width: 26px;
    height: 26px;
    margin: 0 5px 0 0;
    box-shadow: 1px 1px 3px grey;
    position: relative;
    svg {
      height: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    &:hover {
      box-shadow: none;
    }
    &_active {
      background-color: white;
      border: 1px solid DarkSlateBlue;
      box-shadow: 1px 1px 2px grey inset, -1px -1px 2px grey inset;
      &:hover {
        box-shadow: 1px 1px 2px grey inset, -1px -1px 2px grey inset;
      }
    }
    &_disabled {
      color: transparent;
      cursor: default;
      &:hover {
        box-shadow: 1px 1px 3px grey;
      }
    }
    &_passive {
      cursor: default;
      &:hover {
        box-shadow: 1px 1px 3px grey;
      }
      svg {
        fill: grey;
      }
    }
    &_dotts {
      border-color: transparent;
      background-color: transparent;
      box-shadow: none;
      cursor: default;
    }
  }
}

// scrol customization
.wjs-dbtable__table-wrapper.wjs-scroll { //border: 3px dotted blue;
  .wjs-scroll__content {
    // padding-bottom        : 20px;
  }
  .wjs-scroll__wrapper_bottom {
    width                 : 100%;
    left                  : 0;
    background-color      : white;
    // border-top            : 1px solid lightgrey;
  }
  .wjs-dbtable__table {
    .wjs-scroll__wrapper_right {
      height              : 100%;
      top                 : 0;
      background-color    : white;
      // border-left         : 1px solid lightgrey;
    }
  }
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label {
  cursor: pointer;
}

input[type='checkbox'] + label::before {
  content: '';
  display: inline-block;
  height: 26px !important;
  width: 26px !important;
  background-image: url('../img/checkbox-sprite.png');
  background-position: -5px -20px;
  background-size: 66px 66px;
  background-repeat: no-repeat;
}

input[type='checkbox']:checked + label:before {
  background-position: -36.7px -20px;
}