// на мобільних телефонах при нульовій прокрутці присутній рядок пошуку, який зникає при прокручуванні. Це погано, бо коли потрібно відобразити сайт на 100vh і без прокрутки, частина сторінки буде прикрита цим рядком через що з'являтиметься прокрутка, що дуже не красиво. Щоб браузерний рядок не заважав, краще зробити так, щоб він був присутній постійно.

html.wjs-MobileHeightFix {
  display    : flex;
  height     : 100%;
  overflow   : hidden;
  body {
    flex-grow  : 1;
    overflow-y : auto;
    overflow-x : hidden;
  }
}
