@import "fonts";
@import "reset";
@import "style_general";

////////////////////////////////////////////////////////////////////////////////
/* ↓↓↓ standart scroll ↓↓↓ */
// main
.wjs-scroll-standart {
  overflow-y: scroll;
  overflow-x: scroll;
  // position: relative;
}

.wjs-scroll-standart__top {
  position: absolute;
  height: auto;
  overflow-x: scroll;
  overflow-y: hidden;
}

.wjs-scroll-standart-inner__top {
  height: .01px;
}

.wjs-scroll-standart__left {
  position: absolute;
  width: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

.wjs-scroll-standart-inner__left {
  width: .01px;
}

.wjs-content {
}

// customisation
.wjs-scroll-standart {
  max-width: 800px;
  max-height: 500px;
  margin: 20px auto;
  border: 1px dotted red;
}
.wjs-scroll-standart__top {}
.wjs-scroll-standart-inner__top {}
.wjs-content {}
/* ↑↑↑ standart scroll ↑↑↑ */
////////////////////////////////////////////////////////////////////////////////