doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description' content="zzz")
    link(rel='icon', href='../img/wehrwolf.jpg')

    title index

  body
    a(href='assets/html/wScroll.html') wScroll
    a(href='assets/html/wScrollOld.html') wScrollOld (не дороблено, логіка побудована на позиціонуванні)
    a(href='assets/html/wStScroll.html') wStScroll (додаткові скроли стандартного вигляду зліва і зверху)
    a(href='assets/html/wTabs.html') wTabs
    a(href='assets/html/wDataBaseTable.html') wDataBaseTable
    br
    p ----------
    br
    a(href='assets/html/wDataBaseGenerator.html') wDataBaseGenerator

    style.
      body {
        padding: 15px;
      }
      a {
        display: block;
        margin-bottom: 10px;
        padding: 12px 6px;
        border: 1px solid grey;
        border-radius: 4px;
        background-color: lightgrey;
      }