@font-face {
  font-family: ab;
  src: url(../fonts/ArialBold.ttf);
}

@font-face {
  font-family: ar;
  src: url(../fonts/ArialRegular.ttf);
}

@font-face {
  font-family: c;
  src: url(../fonts/consola.ttf);
}

@font-face {
  font-family: fb;
  src: url(../fonts/FregatBold.otf);
}

@font-face {
  font-family: fbi;
  src: url(../fonts/FregatBoldItalic.otf);
}

@font-face {
  font-family: fi;
  src: url(../fonts/FregatItalic.otf);
}

@font-face {
  font-family: fr;
  src: url(../fonts/FregatRegular.otf);
}

@font-face {
  font-family: mpr;
  src: url(../fonts/MyriadProRegular.ttf);
}

@font-face {
  font-family: rcl;
  src: url(../fonts/RobotoCondensedLight.ttf);
}

@font-face {
  font-family: new;
  src: url(../fonts/new.ttf);
}

@font-face {
  font-family: futura;
  src: url(../fonts/FuturaPT-Book.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.w-red {
  color: red;
}

.w-lime {
  color: lime;
}

.w-orange {
  color: orange;
}

.w-grey {
  color: grey;
}

.w-lightgrey {
  color: lightgrey;
}

.w-bgc-aliceblue {
  background-color: aliceblue;
}

.w-bgc-yellow {
  background-color: yellow;
}

.w-link {
  color: #3a8fc8;
  cursor: pointer;
}

.w-monotype {
  font-family: c;
}

.w-tar {
  text-align: right;
}

.wjs-dbtable {
  margin: 0 20px;
  height: 100vh;
  font-family: futura;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wjs-dbtable__header {
  font-weight: 900;
  text-align: center;
  font-size: 2em;
  padding: 20px;
}

.wjs-dbtable__big-search-wrapper {
  margin: 0 auto 5px;
  width: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid grey;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  overflow: hidden;
}

.wjs-dbtable__big-search-input {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 30px;
  border: 1px solid transparent;
  padding-left: 6px;
  padding-right: 6px;
  font-family: inherit;
  font-size: 1em;
  padding-top: 0;
}

.wjs-dbtable__big-search-btn {
  background-image: url("../img/search.png");
  -webkit-background-size: 20px 20px;
          background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  border: 1px solid transparent;
  border-left: 1px solid grey;
  cursor: pointer;
}

.wjs-dbtable__meta-data-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 6px 12px;
  padding-bottom: 10px;
  position: relative;
}

.wjs-dbtable__label {
  position: relative;
  height: 24px;
  line-height: 24px;
}

.wjs-dbtable__label_filters {
  display: none;
}

.wjs-dbtable__label_discols {
  display: none;
}

.wjs-dbtable__label_discols + .wjs-dbtable__items-amount {
  display: none;
}

.wjs-dbtable__label_selected {
  display: none;
}

.wjs-dbtable__label_selected + .wjs-dbtable__selected-amount {
  display: none;
}

.wjs-dbtable__label_selected span {
  height: 44px;
}

.wjs-dbtable__label_filtered {
  display: none;
}

.wjs-dbtable__label_filtered + .wjs-dbtable__filtered-amount {
  display: none;
}

.wjs-dbtable__label_founded {
  display: none;
}

.wjs-dbtable__label_founded + .wjs-dbtable__founded-amount {
  display: none;
}

.wjs-dbtable__label_founded span {
  height: 44px;
}

.wjs-dbtable__items-amount, .wjs-dbtable__filtered-amount, .wjs-dbtable__selected-amount, .wjs-dbtable__founded-amount {
  text-align: right;
  justify-self: start;
  min-width: 55px;
  font-family: c;
  height: 24px;
  line-height: 24px;
}

.wjs-dbtable__items-amount {
  font-weight: 900;
}

.wjs-dbtable__uncheckAll {
  height: 24px;
  width: 24px;
  border: 1px solid red;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: red;
  background-image: url("../img/close.png");
  -webkit-background-size: 12px 12px;
          background-size: 12px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  position: absolute;
  top: calc(50% + 2px);
  left: calc(100% + 80px);
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.wjs-dbtable__uncheckAll:after {
  content: '';
  display: block;
  height: 26px;
  width: 26px;
  border: 1px solid lightsteelblue;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wjs-dbtable__filters-wrapper {
  display: none;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.wjs-dbtable__discols-wrapper {
  display: none;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.wjs-dbtable__filter-item, .wjs-dbtable__discols-item {
  height: 30px;
  margin: 0 3px 3px 0;
  border: 1px solid lightsteelblue;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wjs-dbtable__filter-item span, .wjs-dbtable__discols-item span {
  margin: 0 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wjs-dbtable__filter-item span {
  text-decoration: line-through;
}

.wjs-dbtable__filter-close-btn, .wjs-dbtable__discols-close-btn {
  height: 26px;
  width: 26px;
  border: 1px solid red;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: red;
  background-image: url("../img/close.png");
  -webkit-background-size: 12px 12px;
          background-size: 12px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  margin-right: 1px;
}

.wjs-dbtable__resetLS {
  position: absolute;
  right: 3px;
  bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid grey;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 0 6px;
  min-width: 26px;
  height: 26px;
  -webkit-box-shadow: 1px 1px 3px grey;
          box-shadow: 1px 1px 3px grey;
}

.wjs-dbtable__resetLS:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wjs-dbtable__table-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px solid lightgrey;
  overflow: hidden;
  position: relative;
}

.wjs-dbtable__loader {
  position: absolute;
  z-index: 1112;
  width: 100%;
  height: 100%;
  background-color: white;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wjs-dbtable__loader_active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 7777;
}

.wjs-dbtable__loader-img-wrapper {
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
}

.wjs-dbtable__loader-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wjs-dbtable__loader-info-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.wjs-dbtable__loader-dots {
  padding-left: 2px;
  font-weight: 900;
  letter-spacing: 2px;
}

.wjs-dbtable__table {
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.wjs-dbtable__theader {
  display: grid;
  grid-template-columns: repeat(25, auto) 1fr;
  border-bottom: 1px solid lightgrey;
}

.wjs-dbtable__header-cell {
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  cursor: -webkit-grab;
  cursor: grab;
  height: 42px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #bde0f6;
  position: relative;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.wjs-dbtable__header-cell_dropable {
  background-color: #6495ED;
  border: 1px solid black;
}

.wjs-dbtable__header-cell_checkbox {
  width: 40px !important;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2.5px;
  border-left: 1px solid grey;
}

.wjs-dbtable__th-name {
  font-weight: 900;
  padding: 0 12px;
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wjs-dbtable__theader-btns-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  height: 40px;
  width: 32px;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.wjs-dbtable__btn {
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0;
  border: 1px solid lightsteelblue;
  cursor: pointer;
}

.wjs-dbtable__btn_search {
  background-image: url("../img/search.png");
  -webkit-background-size: 20px 20px;
          background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 5px;
  height: 30px;
  width: 30px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0px 0px 3px grey;
          box-shadow: 0px 0px 3px grey;
}

.wjs-dbtable__btn_search:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wjs-dbtable__btn_close {
  background-image: url("../img/close.png");
  -webkit-background-size: 13px 13px;
          background-size: 13px 13px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: red;
}

.wjs-dbtable__btn_sort {
  background-image: url("../img/caret.png");
  -webkit-background-size: 13px 13px;
          background-size: 13px 13px;
  background-position: center center;
  background-repeat: no-repeat;
}

.wjs-dbtable__btn_sort_active_down {
  background-image: url("../img/caret-active-down.png");
  background-color: grey;
}

.wjs-dbtable__btn_sort_active_up {
  background-image: url("../img/caret-active-up.png");
  background-color: grey;
}

.wjs-dbtable__btn_options {
  background-image: url("../img/menu.png");
  width: 12px;
  height: 40px;
  -webkit-background-size: 13px 13px;
          background-size: 13px 13px;
  background-position: center center;
  background-repeat: no-repeat;
}

.wjs-dbtable__btn_options_active {
  background-color: grey;
}

.wjs-dbtable__width-changer {
  height: 100%;
  width: 5px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 100%;
  cursor: col-resize;
}

.wjs-dbtable__filters-list-wrapper {
  position: absolute;
  z-index: 1;
  top: calc(100% + 1px);
  left: -1px;
  width: calc(100% + 2px);
  background-color: #fff;
  border: 1px solid grey;
  cursor: default;
}

.wjs-dbtable__filters-list {
  padding: 3px;
}

.wjs-dbtable__filters-list-item {
  font-size: 0.9em;
  height: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.wjs-dbtable .wjs-dbtable__filters-list-item [type='checkbox'] {
  display: none;
}

.wjs-dbtable .wjs-dbtable__filters-list-item [type='checkbox'] + label {
  cursor: pointer;
  display: block;
  width: 100%;
}

.wjs-dbtable .wjs-dbtable__filters-list-item [type='checkbox'] + label span {
  position: relative;
  top: -3px;
}

.wjs-dbtable .wjs-dbtable__filters-list-item [type='checkbox'] + label::before {
  content: '';
  display: inline-block;
  height: 16px !important;
  width: 16px !important;
  background-image: url("../img/checkbox-sprite.png");
  background-position: -3px -13px;
  -webkit-background-size: 42px 42px;
          background-size: 42px 42px;
  background-repeat: no-repeat;
}

.wjs-dbtable .wjs-dbtable__filters-list-item [type='checkbox']:checked + label:before {
  background-position: -23.3px -13px;
}

.wjs-dbtable__small-search-input {
  position: absolute;
  z-index: 1;
  top: calc( 100% + 2px);
  width: 100%;
  height: 30px;
  border: 1px solid grey;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: white;
  padding-left: 6px;
  padding-right: 6px;
  font-family: inherit;
  font-size: 1em;
}

.wjs-dbtable__tbody {
  display: grid;
  grid-template-columns: repeat(25, auto) 1fr;
}

.wjs-dbtable__body-cell {
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 11px 12px 3px;
  position: relative;
}

.wjs-dbtable__body-cell_checkbox {
  padding: 6px 7px 3px;
  width: 40px !important;
}

.wjs-dbtable__copy-btn {
  position: absolute;
  right: 3px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid grey;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 0;
  width: 26px;
  height: 26px;
  -webkit-box-shadow: 1px 1px 3px grey;
          box-shadow: 1px 1px 3px grey;
  opacity: .35;
}

.wjs-dbtable__copy-btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 1;
}

.wjs-dbtable__copy-btn svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: dodgerblue;
  height: 16px;
}

.wjs-dbtable__pagination-wrapper {
  margin: 10px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-left: 7px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.wjs-dbtable__page-btn {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid grey;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 0 0 0 0;
  min-width: 26px;
  height: 26px;
  margin: 0 5px 0 0;
  -webkit-box-shadow: 1px 1px 3px grey;
          box-shadow: 1px 1px 3px grey;
  position: relative;
}

.wjs-dbtable__page-btn svg {
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wjs-dbtable__page-btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wjs-dbtable__page-btn_active {
  background-color: white;
  border: 1px solid DarkSlateBlue;
  -webkit-box-shadow: 1px 1px 2px grey inset, -1px -1px 2px grey inset;
          box-shadow: 1px 1px 2px grey inset, -1px -1px 2px grey inset;
}

.wjs-dbtable__page-btn_active:hover {
  -webkit-box-shadow: 1px 1px 2px grey inset, -1px -1px 2px grey inset;
          box-shadow: 1px 1px 2px grey inset, -1px -1px 2px grey inset;
}

.wjs-dbtable__page-btn_disabled {
  color: transparent;
  cursor: default;
}

.wjs-dbtable__page-btn_disabled:hover {
  -webkit-box-shadow: 1px 1px 3px grey;
          box-shadow: 1px 1px 3px grey;
}

.wjs-dbtable__page-btn_passive {
  cursor: default;
}

.wjs-dbtable__page-btn_passive:hover {
  -webkit-box-shadow: 1px 1px 3px grey;
          box-shadow: 1px 1px 3px grey;
}

.wjs-dbtable__page-btn_passive svg {
  fill: grey;
}

.wjs-dbtable__page-btn_dotts {
  border-color: transparent;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: default;
}

.wjs-dbtable__go-to-page-wrapper {
  height: 26px;
  border: 1px solid grey;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 1px 1px 3px grey;
          box-shadow: 1px 1px 3px grey;
}

.wjs-dbtable__go-to-page-input {
  height: 24px;
  width: 50px;
  border: 1px solid transparent;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 3px;
}

.wjs-dbtable__go-to-page-btn {
  height: 24px;
  width: 24px;
  border: 1px solid transparent;
  border-left-color: grey;
  -webkit-border-radius: 0 3px 3px 0;
          border-radius: 0 3px 3px 0;
  position: relative;
  cursor: pointer;
}

.wjs-dbtable__go-to-page-btn svg {
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wjs-dbtable__column-mirror {
  background-color: white;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid grey;
}

.wjs-dbtable__table-wrapper.wjs-scroll .wjs-scroll__wrapper_bottom {
  width: 100%;
  left: 0;
  background-color: white;
}

.wjs-dbtable__table-wrapper.wjs-scroll .wjs-dbtable__table .wjs-scroll__wrapper_right {
  height: 100%;
  top: 0;
  background-color: white;
}

.wjs-dbtable__filters-list-wrapper.wjs-scroll .wjs-scroll__wrapper.wjs-scroll__wrapper_right {
  width: 10px;
}

.wjs-dbtable__filters-list-wrapper.wjs-scroll .wjs-scroll__wrapper.wjs-scroll__wrapper_right .wjs-scroll__line.wjs-scroll__line_right {
  width: 6px;
}

.wjs-dbtable__filters-list-wrapper.wjs-scroll .wjs-scroll__wrapper.wjs-scroll__wrapper_right .wjs-scroll__line.wjs-scroll__line_right .wjs-scroll__thumb.wjs-scroll__thumb_right {
  width: 6px;
  border-color: transparent;
}

.wjs-dbtable__body-cell_checkbox [type='checkbox'],
.wjs-dbtable__header-cell [type='checkbox'] {
  display: none;
}

.wjs-dbtable__body-cell_checkbox [type='checkbox'] + label,
.wjs-dbtable__header-cell [type='checkbox'] + label {
  cursor: pointer;
}

.wjs-dbtable__body-cell_checkbox [type='checkbox'] + label::before,
.wjs-dbtable__header-cell [type='checkbox'] + label::before {
  content: '';
  display: inline-block;
  height: 26px !important;
  width: 26px !important;
  background-image: url("../img/checkbox-sprite.png");
  background-position: -5px -20px;
  -webkit-background-size: 66px 66px;
          background-size: 66px 66px;
  background-repeat: no-repeat;
}

.wjs-dbtable__body-cell_checkbox [type='checkbox']:checked + label:before,
.wjs-dbtable__header-cell [type='checkbox']:checked + label:before {
  background-position: -36.7px -20px;
}
