@charset "UTF-8";
@font-face {
  font-family: ab;
  src: url(../fonts/ArialBold.ttf);
}

@font-face {
  font-family: ar;
  src: url(../fonts/ArialRegular.ttf);
}

@font-face {
  font-family: c;
  src: url(../fonts/consola.ttf);
}

@font-face {
  font-family: fb;
  src: url(../fonts/FregatBold.otf);
}

@font-face {
  font-family: fbi;
  src: url(../fonts/FregatBoldItalic.otf);
}

@font-face {
  font-family: fi;
  src: url(../fonts/FregatItalic.otf);
}

@font-face {
  font-family: fr;
  src: url(../fonts/FregatRegular.otf);
}

@font-face {
  font-family: mpr;
  src: url(../fonts/MyriadProRegular.ttf);
}

@font-face {
  font-family: rcl;
  src: url(../fonts/RobotoCondensedLight.ttf);
}

@font-face {
  font-family: new;
  src: url(../fonts/new.ttf);
}

@font-face {
  font-family: futura;
  src: url(../fonts/FuturaPT-Book.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* ↓↓↓ tabs ↓↓↓ */
.wjs-scroll {
  overflow: hidden;
  position: relative;
}

.wjs-scroll__content {
  position: absolute;
  -webkit-transition: top .5s, left .5s;
  -o-transition: top .5s, left .5s;
  transition: top .5s, left .5s;
}

.wjs-scroll__wrapper {
  position: absolute;
  z-index: 1;
}

.wjs-scroll__wrapper_right {
  top: 20px;
  right: 0;
  height: calc(100% - 40px);
  width: 20px;
}

.wjs-scroll__wrapper_right:hover .wjs-scroll__line {
  opacity: .7;
  width: 20px;
}

.wjs-scroll__wrapper_right:hover .wjs-scroll__thumb {
  opacity: 1;
  width: 18px;
}

.wjs-scroll__wrapper_left {
  top: 20px;
  left: 0;
  height: calc(100% - 40px);
  width: 20px;
}

.wjs-scroll__wrapper_left:hover .wjs-scroll__line {
  opacity: .7;
  width: 20px;
}

.wjs-scroll__wrapper_left:hover .wjs-scroll__thumb {
  opacity: 1;
  width: 18px;
}

.wjs-scroll__wrapper_top {
  top: 0;
  left: 20px;
  height: 20px;
  width: calc(100% - 40px);
}

.wjs-scroll__wrapper_top:hover .wjs-scroll__line {
  opacity: .7;
  height: 20px;
}

.wjs-scroll__wrapper_top:hover .wjs-scroll__thumb {
  opacity: 1;
  height: 18px;
}

.wjs-scroll__wrapper_bottom {
  bottom: 0;
  left: 20px;
  height: 20px;
  width: calc(100% - 40px);
}

.wjs-scroll__wrapper_bottom:hover .wjs-scroll__line {
  opacity: .7;
  height: 20px;
}

.wjs-scroll__wrapper_bottom:hover .wjs-scroll__thumb {
  opacity: 1;
  height: 18px;
}

.wjs-scroll__line {
  position: absolute;
  opacity: .3;
  -webkit-transition: opacity .3s, width .3s, height .3s;
  -o-transition: opacity .3s, width .3s, height .3s;
  transition: opacity .3s, width .3s, height .3s;
}

.wjs-scroll__line_right, .wjs-scroll__line_left {
  top: 0px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  height: 100%;
  width: 4px;
}

.wjs-scroll__line_top, .wjs-scroll__line_bottom {
  left: 0px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 4px;
  width: 100%;
}

.wjs-scroll__thumb {
  position: absolute;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity .3s, top .3s, left .3s, width .3s, height .3s;
  -o-transition: opacity .3s, top .3s, left .3s, width .3s, height .3s;
  transition: opacity .3s, top .3s, left .3s, width .3s, height .3s;
}

.wjs-scroll__thumb_right, .wjs-scroll__thumb_left {
  top: 1px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  width: 10px;
  height: 30px;
}

.wjs-scroll__thumb_top, .wjs-scroll__thumb_bottom {
  top: 50%;
  left: 1px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 30px;
  height: 10px;
}

.wjs-scroll:hover .wjs-scroll__line {
  opacity: .5;
}

.wjs-scroll:hover .wjs-scroll__thumb {
  opacity: .8;
}

.wjs-scroll {
  border: 1px solid grey;
  margin: 20px auto;
  text-align: justify;
  max-width: 90%;
  height: 400px;
}

.wjs-scroll__content {
  padding: 15px;
}

.wjs-scroll__line {
  background-color: dodgerblue;
  border: 1px solid dodgerblue;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.wjs-scroll__thumb {
  border: 1px solid white;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: blue;
}

/* ↑↑↑ tabs ↑↑↑ */
