doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description' content="zzz")

    title wDataBaseTable
    //- link(rel='icon', href='assets/img/logo.png')

    link(rel="stylesheet" type="text/css" href="../css/wScroll.css")
    link(rel="stylesheet" type="text/css" href="../css/wDataBaseTable.css")
    script(defer src="../js/wCore.js")
    script(defer src="../js/wAjax.js")
    script(defer src="../js/wScroll.js")
    script(defer src="../js/wDataBaseTable.js")
  body

    .wjs-dbtable#clientTable
      .wjs-dbtable__header Table Of Clients

      .wjs-dbtable__big-search-wrapper
        input(type='text' autofocus placeholder="поиск...").wjs-dbtable__big-search-input

      .wjs-dbtable__meta-data-wrapper
        .wjs-dbtable__label.wjs-dbtable__label_filters filters:
        .wjs-dbtable__filters-wrapper
          //- .wjs-dbtable__filter-item
          //-   span froud
          //-   button.wjs-dbtable__filter-close-btn
        .wjs-dbtable__label.wjs-dbtable__label_discols disabled columns:
        .wjs-dbtable__discols-wrapper
          //- .wjs-dbtable__discols-item
          //-   span last note
          //-   button.wjs-dbtable__discols-close-btn
        .wjs-dbtable__label items in DB:
        .wjs-dbtable__items-amount
        .wjs-dbtable__label.wjs-dbtable__label_filtered filtered items:
        .wjs-dbtable__filtered-amount 0
        .wjs-dbtable__label.wjs-dbtable__label_selected
          span selected items:
          button(type='button' title='снять все выделения').wjs-dbtable__uncheckAll.wjs-dbtable__uncheckAll_selected
        .wjs-dbtable__selected-amount 0
        .wjs-dbtable__label.wjs-dbtable__label_founded
          span founded items:
          button(type='button' title='снять все выделения').wjs-dbtable__uncheckAll.wjs-dbtable__uncheckAll_founded
        .wjs-dbtable__founded-amount 0

        button(type='button' title='сбросить настройки: расположение колонок, фильтры и проч.').wjs-dbtable__resetLS сбросить настройки

      .wjs-dbtable__table-wrapper.wjs-scroll(data-scroll='bottom' data-scroll-hidden='vertical')

        .wjs-dbtable__loader
          .wjs-dbtable__loader-img-wrapper
            img.wjs-dbtable__loader-img(src='../img/loader.gif')
          .wjs-dbtable__loader-info-wrapper
            .wjs-dbtable__loader-info
            .wjs-dbtable__loader-dots

        .wjs-scroll__content-wrapper
          .wjs-scroll__content
            .wjs-dbtable__table
              .wjs-dbtable__theader

                //- .wjs-dbtable__header-cell
                //-   .wjs-dbtable__th-name
                //-     input(type='checkbox')

                //- .wjs-dbtable__header-cell
                //-   button(type='button' title='поиск в базе по полю').wjs-dbtable__btn.wjs-dbtable__btn_search
                //-   .wjs-dbtable__th-name id
                //-   .wjs-dbtable__theader-btns-group
                //-     button(type='button' title='спрятать колонку').wjs-dbtable__btn.wjs-dbtable__btn_close
                //-     button(type='button' title='сортировать базу данных по полю').wjs-dbtable__btn.wjs-dbtable__btn_sort
                //-   .wjs-dbtable__width-changer

                //- .wjs-dbtable__header-cell
                //-   button(type='button' title='поиск в базе по полю').wjs-dbtable__btn.wjs-dbtable__btn_search
                //-   .wjs-dbtable__th-name Клиент
                //-   .wjs-dbtable__theader-btns-group
                //-     button(type='button' title='спрятать колонку').wjs-dbtable__btn.wjs-dbtable__btn_close
                //-     button(type='button' title='сортировать базу данных по полю').wjs-dbtable__btn.wjs-dbtable__btn_sort
                //-   .wjs-dbtable__width-changer

              .wjs-dbtable__inner-table-container.wjs-scroll(data-scroll='right' data-scroll-hidden='horizontal')
                .wjs-scroll__content-wrapper
                  .wjs-scroll__content
                    .wjs-dbtable__tbody
                      //- .wjs-dbtable__body-cell: input(type='checkbox')
                      //- .wjs-dbtable__body-cell 1
                      //- .wjs-dbtable__body-cell Вася Пупкин
                      //- .wjs-dbtable__body-cell offline
                      //- .wjs-dbtable__body-cell new
                      //- .wjs-dbtable__body-cell specStatus1
                      //- .wjs-dbtable__body-cell 79061234567
                      //- .wjs-dbtable__body-cell vasja.pupkin@mail.ru
                      //- .wjs-dbtable__body-cell Site Registration
                      //- .wjs-dbtable__body-cell Alexandr Melnikov
                      //- .wjs-dbtable__body-cell sales
                      //- .wjs-dbtable__body-cell sales1
                      //- .wjs-dbtable__body-cell binary
                      //- .wjs-dbtable__body-cell без верификации
                      //- .wjs-dbtable__body-cell Российская Федерация
                      //- .wjs-dbtable__body-cell русский
                      //- .wjs-dbtable__body-cell без депозитов
                      //- .wjs-dbtable__body-cell 0
                      //- .wjs-dbtable__body-cell USD
                      //- .wjs-dbtable__body-cell активен
                      //- .wjs-dbtable__body-cell 2021.01.14
                      //- .wjs-dbtable__body-cell не доступна
                      //- .wjs-dbtable__body-cell 2021.01.06
                      //- .wjs-dbtable__body-cell 2021.01.27
                      //- .wjs-dbtable__body-cell не берет трубку
                      //- .wjs-dbtable__body-cell start

      .wjs-dbtable__pagination-wrapper
        button.wjs-dbtable__page-btn(type='button') 1