doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description' content="zzz")

    title wDataBaseTable
    //- link(rel='icon', href='assets/img/logo.png')

    link(rel="stylesheet" type="text/css" href="../css/wScroll.css")
    link(rel="stylesheet" type="text/css" href="../css/wDataBaseTable.css")
    script(defer src="../js/wScroll.js")
    script(defer src="../js/wDataBaseTable.js")
  body

    .wjs-dbtable#clientTable
      .wjs-dbtable__header Table Of Clients
      .wjs-dbtable__meta-data-wrapper
        .wjs-dbtable__label filters:
        .wjs-dbtable__filters-wrapper
          .wjs-dbtable__filter-item
            span froud
            button.wjs-dbtable__filter-close-btn
          .wjs-dbtable__filter-item
            span sales
            button.wjs-dbtable__filter-close-btn
          .wjs-dbtable__filter-item
            span noanswer1
            button.wjs-dbtable__filter-close-btn
        .wjs-dbtable__label disabled columns:
        .wjs-dbtable__discols-wrapper
          .wjs-dbtable__discols-item
            span last note
            button.wjs-dbtable__discols-close-btn
          .wjs-dbtable__discols-item
            span brocker type
            button.wjs-dbtable__discols-close-btn
          .wjs-dbtable__discols-item
            span spec.status
            button.wjs-dbtable__discols-close-btn
        .wjs-dbtable__label items in DB:
        .wjs-dbtable__items-amount 21674
        .wjs-dbtable__label filtered items:
        .wjs-dbtable__filtered-amount 163
        .wjs-dbtable__label selected items:
        .wjs-dbtable__selected-amount 42
      .wjs-dbtable__table-wrapper.wjs-scroll(data-scroll='bottom' data-scroll-hidden='vertical')
        .wjs-scroll__content-wrapper
          .wjs-scroll__content
            .wjs-dbtable__pseudo-header

              .wjs-dbtable__pseudo-header-item
                input(type='checkbox' style='margin-left:10px')

              .wjs-dbtable__pseudo-header-item
                button.wjs-dbtable__btn.wjs-dbtable__btn_search(title='search')
                span.wjs-dbtable__th-name id
                .wjs-dbtable__btns-group
                  button.wjs-dbtable__btn.wjs-dbtable__btn_close(title='close')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_sort.wjs-dbtable__btn_active(title='sort')

              .wjs-dbtable__pseudo-header-item
                button.wjs-dbtable__btn.wjs-dbtable__btn_search(title='search')
                span.wjs-dbtable__th-name Клиент
                .wjs-dbtable__btns-group
                  button.wjs-dbtable__btn.wjs-dbtable__btn_close(title='close')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_sort(title='sort')

              .wjs-dbtable__pseudo-header-item
                span.wjs-dbtable__th-name login
                .wjs-dbtable__btns-group
                  button.wjs-dbtable__btn.wjs-dbtable__btn_close(title='close')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_sort(title='sort')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_options(title='options')

              .wjs-dbtable__pseudo-header-item
                span.wjs-dbtable__th-name Статус
                .wjs-dbtable__btns-group
                  button.wjs-dbtable__btn.wjs-dbtable__btn_close(title='close')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_sort(title='sort')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_options(title='options')

              .wjs-dbtable__pseudo-header-item
                span.wjs-dbtable__th-name Спец. статус
                .wjs-dbtable__btns-group
                  button.wjs-dbtable__btn.wjs-dbtable__btn_close(title='close')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_sort(title='sort')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_options(title='options')

              .wjs-dbtable__pseudo-header-item
                button.wjs-dbtable__btn.wjs-dbtable__btn_search(title='search')
                span.wjs-dbtable__th-name Телефон
                .wjs-dbtable__btns-group
                  button.wjs-dbtable__btn.wjs-dbtable__btn_close(title='close')
                    button.wjs-dbtable__btn.wjs-dbtable__btn_sort(title='sort')

              .wjs-dbtable__pseudo-header-item
                button.wjs-dbtable__btn.wjs-dbtable__btn_search(title='search')
                span.wjs-dbtable__th-name Почта
                .wjs-dbtable__btns-group
                  button.wjs-dbtable__btn.wjs-dbtable__btn_close(title='close')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_sort(title='sort')

              .wjs-dbtable__pseudo-header-item
                span.wjs-dbtable__th-name Компания (афилят)
                .wjs-dbtable__btns-group
                  button.wjs-dbtable__btn.wjs-dbtable__btn_close(title='close')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_sort(title='sort')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_options(title='options')

              .wjs-dbtable__pseudo-header-item
                span.wjs-dbtable__th-name Брокер
                .wjs-dbtable__btns-group
                  button.wjs-dbtable__btn.wjs-dbtable__btn_close(title='close')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_sort(title='sort')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_options(title='options')

              .wjs-dbtable__pseudo-header-item
                span.wjs-dbtable__th-name Должность брокера
                .wjs-dbtable__btns-group
                  button.wjs-dbtable__btn.wjs-dbtable__btn_close(title='close')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_sort(title='sort')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_options(title='options')

              .wjs-dbtable__pseudo-header-item
                span.wjs-dbtable__th-name Команда брокера
                .wjs-dbtable__btns-group
                  button.wjs-dbtable__btn.wjs-dbtable__btn_close(title='close')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_sort(title='sort')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_options(title='options')

              .wjs-dbtable__pseudo-header-item
                span.wjs-dbtable__th-name Тип платформы
                .wjs-dbtable__btns-group
                  button.wjs-dbtable__btn.wjs-dbtable__btn_close(title='close')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_sort(title='sort')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_options(title='options')

              .wjs-dbtable__pseudo-header-item
                span.wjs-dbtable__th-name Верификация
                .wjs-dbtable__btns-group
                  button.wjs-dbtable__btn.wjs-dbtable__btn_close(title='close')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_sort(title='sort')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_options(title='options')

              .wjs-dbtable__pseudo-header-item
                span.wjs-dbtable__th-name Страна
                .wjs-dbtable__btns-group
                  button.wjs-dbtable__btn.wjs-dbtable__btn_close(title='close')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_sort(title='sort')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_options(title='options')

              .wjs-dbtable__pseudo-header-item
                span.wjs-dbtable__th-name Язык
                .wjs-dbtable__btns-group
                  button.wjs-dbtable__btn.wjs-dbtable__btn_close(title='close')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_sort(title='sort')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_options(title='options')

              .wjs-dbtable__pseudo-header-item
                span.wjs-dbtable__th-name Наличие депозитов
                .wjs-dbtable__btns-group
                  button.wjs-dbtable__btn.wjs-dbtable__btn_close(title='close')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_sort(title='sort')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_options(title='options')

              .wjs-dbtable__pseudo-header-item
                span.wjs-dbtable__th-name Баланс
                .wjs-dbtable__btns-group
                  button.wjs-dbtable__btn.wjs-dbtable__btn_close(title='close')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_sort(title='sort')

              .wjs-dbtable__pseudo-header-item
                span.wjs-dbtable__th-name Валюта
                .wjs-dbtable__btns-group
                  button.wjs-dbtable__btn.wjs-dbtable__btn_close(title='close')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_sort(title='sort')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_options(title='options')

              .wjs-dbtable__pseudo-header-item
                span.wjs-dbtable__th-name Активность
                .wjs-dbtable__btns-group
                  button.wjs-dbtable__btn.wjs-dbtable__btn_close(title='close')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_sort(title='sort')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_options(title='options')

              .wjs-dbtable__pseudo-header-item
                span.wjs-dbtable__th-name Последняя активность
                .wjs-dbtable__btns-group
                  button.wjs-dbtable__btn.wjs-dbtable__btn_close(title='close')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_sort(title='sort')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_options(title='options')

              .wjs-dbtable__pseudo-header-item
                span.wjs-dbtable__th-name Возможность торговли
                .wjs-dbtable__btns-group
                  button.wjs-dbtable__btn.wjs-dbtable__btn_close(title='close')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_sort(title='sort')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_options(title='options')

              .wjs-dbtable__pseudo-header-item
                span.wjs-dbtable__th-name Дата регистрации
                .wjs-dbtable__btns-group
                  button.wjs-dbtable__btn.wjs-dbtable__btn_close(title='close')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_sort(title='sort')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_options(title='options')

              .wjs-dbtable__pseudo-header-item
                span.wjs-dbtable__th-name Дата последней заметки
                .wjs-dbtable__btns-group
                  button.wjs-dbtable__btn.wjs-dbtable__btn_close(title='close')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_sort(title='sort')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_options(title='options')

              .wjs-dbtable__pseudo-header-item
                span.wjs-dbtable__th-name Последняя заметка
                .wjs-dbtable__btns-group
                  button.wjs-dbtable__btn.wjs-dbtable__btn_close(title='close')

              .wjs-dbtable__pseudo-header-item
                span.wjs-dbtable__th-name Тип аккаунта
                .wjs-dbtable__btns-group
                  button.wjs-dbtable__btn.wjs-dbtable__btn_close(title='close')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_sort(title='sort')
                  button.wjs-dbtable__btn.wjs-dbtable__btn_options(title='options')
            .wjs-dbtable__body
              .wjs-scroll(data-scroll='right' data-scroll-hidden='')
                .wjs-scroll__content-wrapper
                  .wjs-scroll__content
                    table
                      thead
                        tr
                          th: .wjs-dbtable__th-inner
                          th: .wjs-dbtable__th-inner
                          th: .wjs-dbtable__th-inner
                          th: .wjs-dbtable__th-inner
                          th: .wjs-dbtable__th-inner
                          th: .wjs-dbtable__th-inner
                          th: .wjs-dbtable__th-inner
                          th: .wjs-dbtable__th-inner
                          th: .wjs-dbtable__th-inner
                          th: .wjs-dbtable__th-inner
                          th: .wjs-dbtable__th-inner
                          th: .wjs-dbtable__th-inner
                          th: .wjs-dbtable__th-inner
                          th: .wjs-dbtable__th-inner
                          th: .wjs-dbtable__th-inner
                          th: .wjs-dbtable__th-inner
                          th: .wjs-dbtable__th-inner
                          th: .wjs-dbtable__th-inner
                          th: .wjs-dbtable__th-inner
                          th: .wjs-dbtable__th-inner
                          th: .wjs-dbtable__th-inner
                          th: .wjs-dbtable__th-inner
                          th: .wjs-dbtable__th-inner
                          th: .wjs-dbtable__th-inner
                          th: .wjs-dbtable__th-inner
                          th: .wjs-dbtable__th-inner
                      tbody
                        tr
                          td
                            input(type='checkbox')
                          td 1
                          td Вася Пупкин
                          td offline
                          td new
                          td specStatus1
                          td 79061234567
                          td vasja.pupkin@mail.ru
                          td Site Registration
                          td Alexandr Melnikov
                          td sales
                          td sales1
                          td binary
                          td без верификации
                          td Российская Федерация
                          td русский
                          td без депозитов
                          td 0
                          td USD
                          td активен
                          td 2021.01.14
                          td не доступна
                          td 2021.01.06
                          td 2021.01.27
                          td не берет трубку
                          td start
                        tr
                          td
                            input(type='checkbox')
                          td 1
                          td Вася Пупкин
                          td offline
                          td new
                          td specStatus1
                          td 79061234567
                          td vasja.pupkin@mail.ru
                          td Site Registration
                          td Alexandr Melnikov
                          td sales
                          td sales1
                          td binary
                          td без верификации
                          td Российская Федерация
                          td русский
                          td без депозитов
                          td 0
                          td USD
                          td активен
                          td 2021.01.14
                          td не доступна
                          td 2021.01.06
                          td 2021.01.27
                          td не берет трубку
                          td start
                        tr
                          td
                            input(type='checkbox')
                          td 1
                          td Вася Пупкин
                          td offline
                          td new
                          td specStatus1
                          td 79061234567
                          td vasja.pupkin@mail.ru
                          td Site Registration
                          td Alexandr Melnikov
                          td sales
                          td sales1
                          td binary
                          td без верификации
                          td Российская Федерация
                          td русский
                          td без депозитов
                          td 0
                          td USD
                          td активен
                          td 2021.01.14
                          td не доступна
                          td 2021.01.06
                          td 2021.01.27
                          td не берет трубку
                          td start
                        tr
                          td
                            input(type='checkbox')
                          td 1
                          td Вася Пупкин
                          td offline
                          td new
                          td specStatus1
                          td 79061234567
                          td vasja.pupkin@mail.ru
                          td Site Registration
                          td Alexandr Melnikov
                          td sales
                          td sales1
                          td binary
                          td без верификации
                          td Российская Федерация
                          td русский
                          td без депозитов
                          td 0
                          td USD
                          td активен
                          td 2021.01.14
                          td не доступна
                          td 2021.01.06
                          td 2021.01.27
                          td не берет трубку
                          td start
                        tr
                          td
                            input(type='checkbox')
                          td 1
                          td Вася Пупкин
                          td offline
                          td new
                          td specStatus1
                          td 79061234567
                          td vasja.pupkin@mail.ru
                          td Site Registration
                          td Alexandr Melnikov
                          td sales
                          td sales1
                          td binary
                          td без верификации
                          td Российская Федерация
                          td русский
                          td без депозитов
                          td 0
                          td USD
                          td активен
                          td 2021.01.14
                          td не доступна
                          td 2021.01.06
                          td 2021.01.27
                          td не берет трубку
                          td start
                        tr
                          td
                            input(type='checkbox')
                          td 1
                          td Вася Пупкин
                          td offline
                          td new
                          td specStatus1
                          td 79061234567
                          td vasja.pupkin@mail.ru
                          td Site Registration
                          td Alexandr Melnikov
                          td sales
                          td sales1
                          td binary
                          td без верификации
                          td Российская Федерация
                          td русский
                          td без депозитов
                          td 0
                          td USD
                          td активен
                          td 2021.01.14
                          td не доступна
                          td 2021.01.06
                          td 2021.01.27
                          td не берет трубку
                          td start
                        tr
                          td
                            input(type='checkbox')
                          td 1
                          td Вася Пупкин
                          td offline
                          td new
                          td specStatus1
                          td 79061234567
                          td vasja.pupkin@mail.ru
                          td Site Registration
                          td Alexandr Melnikov
                          td sales
                          td sales1
                          td binary
                          td без верификации
                          td Российская Федерация
                          td русский
                          td без депозитов
                          td 0
                          td USD
                          td активен
                          td 2021.01.14
                          td не доступна
                          td 2021.01.06
                          td 2021.01.27
                          td не берет трубку
                          td start
                        tr
                          td
                            input(type='checkbox')
                          td 1
                          td Вася Пупкин
                          td offline
                          td new
                          td specStatus1
                          td 79061234567
                          td vasja.pupkin@mail.ru
                          td Site Registration
                          td Alexandr Melnikov
                          td sales
                          td sales1
                          td binary
                          td без верификации
                          td Российская Федерация
                          td русский
                          td без депозитов
                          td 0
                          td USD
                          td активен
                          td 2021.01.14
                          td не доступна
                          td 2021.01.06
                          td 2021.01.27
                          td не берет трубку
                          td start
                        tr
                          td
                            input(type='checkbox')
                          td 1
                          td Вася Пупкин
                          td offline
                          td new
                          td specStatus1
                          td 79061234567
                          td vasja.pupkin@mail.ru
                          td Site Registration
                          td Alexandr Melnikov
                          td sales
                          td sales1
                          td binary
                          td без верификации
                          td Российская Федерация
                          td русский
                          td без депозитов
                          td 0
                          td USD
                          td активен
                          td 2021.01.14
                          td не доступна
                          td 2021.01.06
                          td 2021.01.27
                          td не берет трубку
                          td start
                        tr
                          td
                            input(type='checkbox')
                          td 1
                          td Вася Пупкин
                          td offline
                          td new
                          td specStatus1
                          td 79061234567
                          td vasja.pupkin@mail.ru
                          td Site Registration
                          td Alexandr Melnikov
                          td sales
                          td sales1
                          td binary
                          td без верификации
                          td Российская Федерация
                          td русский
                          td без депозитов
                          td 0
                          td USD
                          td активен
                          td 2021.01.14
                          td не доступна
                          td 2021.01.06
                          td 2021.01.27
                          td не берет трубку
                          td start
                        tr
                          td
                            input(type='checkbox')
                          td 1
                          td Вася Пупкин
                          td offline
                          td new
                          td specStatus1
                          td 79061234567
                          td vasja.pupkin@mail.ru
                          td Site Registration
                          td Alexandr Melnikov
                          td sales
                          td sales1
                          td binary
                          td без верификации
                          td Российская Федерация
                          td русский
                          td без депозитов
                          td 0
                          td USD
                          td активен
                          td 2021.01.14
                          td не доступна
                          td 2021.01.06
                          td 2021.01.27
                          td не берет трубку
                          td start
                        tr
                          td
                            input(type='checkbox')
                          td 1
                          td Вася Пупкин
                          td offline
                          td new
                          td specStatus1
                          td 79061234567
                          td vasja.pupkin@mail.ru
                          td Site Registration
                          td Alexandr Melnikov
                          td sales
                          td sales1
                          td binary
                          td без верификации
                          td Российская Федерация
                          td русский
                          td без депозитов
                          td 0
                          td USD
                          td активен
                          td 2021.01.14
                          td не доступна
                          td 2021.01.06
                          td 2021.01.27
                          td не берет трубку
                          td start
                        tr
                          td
                            input(type='checkbox')
                          td 1
                          td Вася Пупкин
                          td offline
                          td new
                          td specStatus1
                          td 79061234567
                          td vasja.pupkin@mail.ru
                          td Site Registration
                          td Alexandr Melnikov
                          td sales
                          td sales1
                          td binary
                          td без верификации
                          td Российская Федерация
                          td русский
                          td без депозитов
                          td 0
                          td USD
                          td активен
                          td 2021.01.14
                          td не доступна
                          td 2021.01.06
                          td 2021.01.27
                          td не берет трубку
                          td start
                        tr
                          td
                            input(type='checkbox')
                          td 1
                          td Вася Пупкин
                          td offline
                          td new
                          td specStatus1
                          td 79061234567
                          td vasja.pupkin@mail.ru
                          td Site Registration
                          td Alexandr Melnikov
                          td sales
                          td sales1
                          td binary
                          td без верификации
                          td Российская Федерация
                          td русский
                          td без депозитов
                          td 0
                          td USD
                          td активен
                          td 2021.01.14
                          td не доступна
                          td 2021.01.06
                          td 2021.01.27
                          td не берет трубку
                          td start
                        tr
                          td
                            input(type='checkbox')
                          td 1
                          td Вася Пупкин
                          td offline
                          td new
                          td specStatus1
                          td 79061234567
                          td vasja.pupkin@mail.ru
                          td Site Registration
                          td Alexandr Melnikov
                          td sales
                          td sales1
                          td binary
                          td без верификации
                          td Российская Федерация
                          td русский
                          td без депозитов
                          td 0
                          td USD
                          td активен
                          td 2021.01.14
                          td не доступна
                          td 2021.01.06
                          td 2021.01.27
                          td не берет трубку
                          td start
                        tr
                          td
                            input(type='checkbox')
                          td 1
                          td Вася Пупкин
                          td offline
                          td new
                          td specStatus1
                          td 79061234567
                          td vasja.pupkin@mail.ru
                          td Site Registration
                          td Alexandr Melnikov
                          td sales
                          td sales1
                          td binary
                          td без верификации
                          td Российская Федерация
                          td русский
                          td без депозитов
                          td 0
                          td USD
                          td активен
                          td 2021.01.14
                          td не доступна
                          td 2021.01.06
                          td 2021.01.27
                          td не берет трубку
                          td start
                        tr
                          td
                            input(type='checkbox')
                          td 1
                          td Вася Пупкин
                          td offline
                          td new
                          td specStatus1
                          td 79061234567
                          td vasja.pupkin@mail.ru
                          td Site Registration
                          td Alexandr Melnikov
                          td sales
                          td sales1
                          td binary
                          td без верификации
                          td Российская Федерация
                          td русский
                          td без депозитов
                          td 0
                          td USD
                          td активен
                          td 2021.01.14
                          td не доступна
                          td 2021.01.06
                          td 2021.01.27
                          td не берет трубку
                          td start
                        tr
                          td
                            input(type='checkbox')
                          td 1
                          td Вася Пупкин
                          td offline
                          td new
                          td specStatus1
                          td 79061234567
                          td vasja.pupkin@mail.ru
                          td Site Registration
                          td Alexandr Melnikov
                          td sales
                          td sales1
                          td binary
                          td без верификации
                          td Российская Федерация
                          td русский
                          td без депозитов
                          td 0
                          td USD
                          td активен
                          td 2021.01.14
                          td не доступна
                          td 2021.01.06
                          td 2021.01.27
                          td не берет трубку
                          td start
                        tr
                          td
                            input(type='checkbox')
                          td 1
                          td Вася Пупкин
                          td offline
                          td new
                          td specStatus1
                          td 79061234567
                          td vasja.pupkin@mail.ru
                          td Site Registration
                          td Alexandr Melnikov
                          td sales
                          td sales1
                          td binary
                          td без верификации
                          td Российская Федерация
                          td русский
                          td без депозитов
                          td 0
                          td USD
                          td активен
                          td 2021.01.14
                          td не доступна
                          td 2021.01.06
                          td 2021.01.27
                          td не берет трубку
                          td start
                        tr
                          td
                            input(type='checkbox')
                          td 1
                          td Вася Пупкин
                          td offline
                          td new
                          td specStatus1
                          td 79061234567
                          td vasja.pupkin@mail.ru
                          td Site Registration
                          td Alexandr Melnikov
                          td sales
                          td sales1
                          td binary
                          td без верификации
                          td Российская Федерация
                          td русский
                          td без депозитов
                          td 0
                          td USD
                          td активен
                          td 2021.01.14
                          td не доступна
                          td 2021.01.06
                          td 2021.01.27
                          td не берет трубку
                          td start
                        tr
                          td
                            input(type='checkbox')
                          td 1
                          td Вася Пупкин
                          td offline
                          td new
                          td specStatus1
                          td 79061234567
                          td vasja.pupkin@mail.ru
                          td Site Registration
                          td Alexandr Melnikov
                          td sales
                          td sales1
                          td binary
                          td без верификации
                          td Российская Федерация
                          td русский
                          td без депозитов
                          td 0
                          td USD
                          td активен
                          td 2021.01.14
                          td не доступна
                          td 2021.01.06
                          td 2021.01.27
                          td не берет трубку
                          td start
                        tr
                          td
                            input(type='checkbox')
                          td 1
                          td Вася Пупкин
                          td offline
                          td new
                          td specStatus1
                          td 79061234567
                          td vasja.pupkin@mail.ru
                          td Site Registration
                          td Alexandr Melnikov
                          td sales
                          td sales1
                          td binary
                          td без верификации
                          td Российская Федерация
                          td русский
                          td без депозитов
                          td 0
                          td USD
                          td активен
                          td 2021.01.14
                          td не доступна
                          td 2021.01.06
                          td 2021.01.27
                          td не берет трубку
                          td start
                        tr
                          td
                            input(type='checkbox')
                          td 1
                          td Вася Пупкин
                          td offline
                          td new
                          td specStatus1
                          td 79061234567
                          td vasja.pupkin@mail.ru
                          td Site Registration
                          td Alexandr Melnikov
                          td sales
                          td sales1
                          td binary
                          td без верификации
                          td Российская Федерация
                          td русский
                          td без депозитов
                          td 0
                          td USD
                          td активен
                          td 2021.01.14
                          td не доступна
                          td 2021.01.06
                          td 2021.01.27
                          td не берет трубку
                          td start
                        tr
                          td
                            input(type='checkbox')
                          td 1
                          td Вася Пупкин
                          td offline
                          td new
                          td specStatus1
                          td 79061234567
                          td vasja.pupkin@mail.ru
                          td Site Registration
                          td Alexandr Melnikov
                          td sales
                          td sales1
                          td binary
                          td без верификации
                          td Российская Федерация
                          td русский
                          td без депозитов
                          td 0
                          td USD
                          td активен
                          td 2021.01.14
                          td не доступна
                          td 2021.01.06
                          td 2021.01.27
                          td не берет трубку
                          td start

      .wjs-dbtable__pagination-wrapper
        button.wjs-dbtable__page-btn(type='button') 1
        button.wjs-dbtable__page-btn(type='button') 2
        button.wjs-dbtable__page-btn(type='button') 3
        button.wjs-dbtable__page-btn(type='button') 4
        button.wjs-dbtable__page-btn(type='button') 5
        button.wjs-dbtable__page-btn(type='button') 6
        button.wjs-dbtable__page-btn(type='button') 7
